*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  display: grid;
  grid-template-columns:  1fr;
  margin: 0 auto;
  align-items: center;
}
body{
  background-color: hsl(0, 0%, 95%);
}
.container-1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 70%;
  max-width: 1100px;
  margin: 0 auto;
}
.card-1{
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: grid;
  grid-template-rows: auto;
  padding: 50px;
}
.card-2{
  background-color: hsl(184, 100%, 22%);
  display: grid;
  grid-template-rows: auto;
  padding: 50px;
}
.card-3{
  background-color: hsl(183, 97%, 13%);   
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  grid-template-rows: auto;
  padding: 40px;
}
.card-1 h5,.card-2 h5,.card-3 h5{
  font-size: 2rem;
  color: hsl(0, 0%, 95%);
  
  font-family: 'Lexend Deca', sans-serif;
}
.card-1 p,.card-2 p,.card-3 p{
  font-family: 'Big Shoulders Display', cursive;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  letter-spacing: 1px;
  line-height: 20px;
}
.card-btn{
  background-color: hsl(0, 0%, 95%);
  border: none;
  border-radius: 40px;
  height: 55px;
  font-family: 'Lexend Deca', sans-serif;
}
.card-3 > .card-btn> a{
color: hsl(183, 97%, 13%);
}
.card-1 > .card-btn, a{
color: hsl(31, 77%, 52%);
}
.card-2 > .card-btn> a{
color: hsl(184, 100%, 22%);
}
a{
  text-decoration: none;
  font-weight: 900;
}
@media screen and (max-width:900px) {
  .container{
      align-items: start;
      margin: 60px 0px
  }
  .container-1{
      grid-template-columns: 1fr;
  }
  .card-1,.card-2,.card-3{
      height: 500px;
      width: 50%;
      margin: 0 auto;    
  }
      .card-1{
          border-bottom-left-radius: 0;
          border-top-right-radius: 20px;
      }
      .card-3{
          border-top-right-radius: 0;
          border-bottom-left-radius: 20px;
      }
  }
  @media screen and (max-width:592px) {
      .container{
          align-items: start;
      }
      .container-1{
          grid-template-columns: 1fr;
      }
      .card-1,.card-2,.card-3{
          height: 500px;
          width: 100%;
  
      }
      .card-1{
          border-bottom-left-radius: 0;
          border-top-right-radius: 20px;
      }
      .card-3{
          border-top-right-radius: 0;
          border-bottom-left-radius: 20px;
      }
  }